/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f8fafc;
  color: #334155;
}

header{
    display: flex;
}
.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 2rem;
} */
